* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.bootstrap-reset {
  padding-left: 0;
  margin-bottom: 0;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(0, 0, 0, 0.033);
  border-top-color: #1a1a1a;
  border-radius: 50%;
  animation: spinner 0.6s linear infinite;
}

.facebook-background {
  fill: #1877f2;
}

.facebook-logo {
  fill: #fff;
}

.fb-icon--focus svg {
  fill: #1b74e4;
}
.fb-icon svg {
  fill: rgb(101, 103, 107);
}

.hidden {
  display: none !important;
}

.searchPlaceholder {
  position: absolute;
  z-index: 123123123;
  left: 60px;
  top: 10px;
  opacity: 0.8;
  animation: slide 0.2s;
  cursor: pointer;
}

@keyframes slide {
  0% {
    left: 43px;
    opacity: 0;
  }
}

a {
  text-decoration: none !important;
}

.card {
  background-color: white;
  border-radius: 5px;
  padding: 20px 12px 20px 12px;
  margin-top: 15px;
  box-shadow: 0px 0px 5px 1px rgb(214, 214, 214);
}
