.HomeHeader {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  box-shadow: 0px 1px 5px rgb(116, 116, 116);
}

.HomeHeader__left {
  display: flex;
  align-items: center;
  width: 33.33%;
}

.HomeHeader__searchInputContainer {
  position: relative;
  display: flex;
  background-color: rgb(255, 255, 255);
  align-items: center;
  height: 100%;
}
.HomeHeader__searchInputContainer input {
  transition: 0.2s;
}

.HomeHeader__usersListContainer ul {
  list-style: none;
  margin: 0;
  padding: 60px 10px 10px 10px;
}

.HomeHeader__usersListContainer ul li {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 6px 0 6px 10px;
  cursor: pointer;
}
.HomeHeader__usersListContainer ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(49, 49, 49);
  width: 100%;
}
.HomeHeader__usersListContainer ul li:hover {
  background-color: rgb(213, 213, 213);
}
.HomeHeader__usersListContainer ul li p {
  margin: 0;
}
.HomeHeader__usersListContainer ul li svg {
  height: 18px;
  width: 18px;
  fill: rgb(120, 120, 120);
}
.HomeHeader__usersListContainer {
  transition: 0.1s;
  position: absolute;
  width: 365px;
  z-index: 5;
  max-height: 500px;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 7px 5px 1px rgb(228, 228, 228);
  top: -5px;
  left: -15px;
  border-radius: 5px;
}
.HomeHeader .backSVG {
  position: absolute;
  top: 0px;
  left: 10px;
  z-index: 1000;
  cursor: pointer;
  background-color: white;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.HomeHeader .backSVG svg {
  fill: rgb(82, 82, 82);
  transform: scale(1.2);
}

.HomeHeader__searchInputContainer input {
  height: 90%;
  border: none;
  z-index: 10;
  outline: none;
  background-color: rgb(239, 239, 239);
  border-radius: 50px;
  padding-left: 15px;
  margin-left: 10px;
  font-size: 15px;
  min-width: 280px;
}
.HomeHeader__middle {
  width: 33.33%;
}
.HomeHeader__middle ul {
  padding-left: 0;
  display: flex;
  height: 100%;
  margin: 0;
  list-style: none;
}
.HomeHeader__middle ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 100px;
  padding: 10px 0;
  cursor: pointer;
}
.HomeHeader__middle ul li:hover {
  background-color: rgb(242, 242, 242);
}

.HomeHeader__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 33.33%;
}

.SVGContainer {
  margin-right: 8px;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: rgb(239, 239, 239);
}
.SVGContainer:hover {
  background-color: rgb(216, 216, 216);
  cursor: pointer;
}
.SVGContainer svg {
  position: absolute;
  top: 50%;
  left: 50%;
  fill: black;
  transform: scale(1) translate(-50%, -50%);
}
.profileContainer {
  cursor: pointer;
}
.profileContainer img {
  width: 42px;
  height: 42px;
  border-radius: 50px;
}

.noUsersFound {
  text-align: center;
  height: fit-content;
  padding-top: 65px;
}
.noUsersFound p {
  font-weight: bold;
}

@media (max-width: 768px) {
  .HomeHeader__middle ul li:nth-child(-n + 4) {
    display: none;
  }
  .HomeHeader__usersListContainer {
    width: 320px;
  }
}

@media (max-width: 1000px) {
  .HomeHeader__left input {
    min-width: 32px;
    width: 33px;
  }
}
