.login {
min-height: 50vh;
background-color: #f0f2f5;
display: flex;
justify-content: center;
width: 100%;}


.container {
    margin: 40px;
    width: 100%;
    max-width: 995px;
    display: flex;
    justify-content: space-between;
}


.container__right {
    width: 400px;
}


.left__img img {
    height: 70px;
    margin-left: -20px;
}

.left__firstP {
font-size: 28px;
line-height: 120%;
}
.left__secondP {
font-size: 15px;
color: #606770;
}




@media (max-width: 900px) {
    .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .left__img img {
        margin-left: 0px;
    }
    
}

@media (max-width: 500px) {
    .container__right {
        width: 90vw
    }

}