.bottomContainer__Intro h2 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 24px;
}

.bottomContainer__left {
  width: 50%;
}
.bottomContainer__right {
  width: 50%;
  margin-left: 15px;
}
.bottomContainer__description {
  text-align: center;
}
.bottomContainer__description button {
  color: black;
  background-color: rgb(231, 231, 231);
  width: 100%;
  border: none;
  font-family: Roboto;
  font-weight: 500;
}
.bottomContainer__description button:hover {
  background-color: rgb(201, 201, 201);
  color: black;
}
.infoDiv {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.infoDiv p {
  font-family: Roboto;
  margin-bottom: 0;
}
.infoDiv p span {
  font-family: Roboto;
  font-weight: 500;
}
.infoDiv img {
  height: 20px;
  opacity: 0.6;
  margin-right: 10px;
}

.editBio button {
  width: fit-content;
}
.editBio button:disabled {
  background-color: rgb(231, 231, 231);
  color: black;
  opacity: 0.5;
}
.editBio button:nth-of-type(1) {
  margin-right: 5px;
}

.editBio__belowContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.editBio__belowContainer span {
  font-family: Roboto;
  font-size: 12px;
  color: rgb(90, 90, 90);
  margin: 3px 0;
  letter-spacing: 0.1px;
}

.photosTitle {
  display: flex;
  justify-content: space-between;
}

.photosTitle h2 {
  font-size: 24px;
  font-family: Roboto;
  font-weight: 500;
}
.bottomContainer__Photos {
  width: 100%;
}
.photosContainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.photosContainer__photo {
  width: 33.33%;
  padding: 2px;
}
.photosContainer__photo > div {
  background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/types-of-motorcycles-refresh-lead-1677534605.jpeg?crop=0.566xw:1.00xh;0.147xw,0&resize=1200:*");
  background-position: center center;
  background-size: cover;
  width: 100%;
}

@media (max-width: 900px) {
  .bottomContainer__right {
    width: 100%;
    margin: 0;
  }
  .bottomContainer__left {
    width: 100%;
  }
}
