.wrapper {
    text-align: center;
}

.wrapper__createPage {
    font-size: 14px;
    margin-top: 30px;
}

.LoginForm {
    width: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    padding: 15px;
}

.LoginForm input {
    font-size: 17px;
}

.LoginForm button {
    width: 100%;
}

.LoginForm__forgottenBtn {
    text-align: center;
    border-bottom: 1px solid rgb(195, 195, 195);
    padding-bottom: 20px;
}
.LoginForm__forgottenBtn button {
    width: fit-content;
    color: rgb(24, 119, 242);
    border: none;
    background-color: transparent;
    margin-top: 10px;

}

.LoginForm__newAccBtn {text-align: center;
margin: 30px 0 10px 0;}
.LoginForm__newAccBtn button {
    width: 50%;
    line-height: 48px;
    padding: 0;
    font-size: 17px;
background-color: rgb(66, 183, 42);
border: none;
font-weight: bold;
}