:root {
  --width: calc(100% - 60px);
}

.profileContainer {
  background-color: rgb(255, 255, 255);
}

.topContainer {
  position: relative;
  box-shadow: 0px 0px 5px 1px rgb(196, 196, 196);
}

.backgroundContainer {
  max-width: 1100px;
  height: 405px;
  overflow: hidden;
  margin: 0 auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 0px 5px 2px rgb(232, 232, 232);
}

.backgroundContainer img {
  width: 100%;
}

.avatarContainer {
  background-color: white;
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

.borderBottom {
  border-bottom: 1px solid rgb(194, 194, 194);
  max-width: 1040px;
  width: var(--width);
  margin: 0 auto;
  margin-top: 15px;
}

.avatarContainer__leftContainer {
  display: flex;
}

.avatarContainer__rightContainer > div {
  font-family: Roboto;
  display: flex;
  align-items: flex-end;
  height: 80%;
}
.avatarContainer__rightContainer div > button {
  display: flex;
  align-items: center;
  font-size: 15px;
  border: none;
  font-weight: 500;
  font-family: Roboto;
}
.avatarContainer__rightContainer div > button:nth-of-type(1) {
  margin-right: 10px;
}
.avatarContainer__rightContainer .messageBtn {
  color: black;
  background-color: rgb(229, 229, 229);
}
.avatarContainer__rightContainer .messageBtn svg {
  fill: black;
  margin-right: 5px;
}
.avatarContainer div > button > img {
  height: 16px;
  margin-right: 5px;
}
.avatarIMG {
  width: 168px;
  height: 168px;
  border-radius: 100%;
  border: 5px solid white;
  overflow: hidden;
  margin-top: -30px;
}
.avatarIMG img {
  width: 100%;
  height: 100%;
}

.nameContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 15px;
  height: 80%;
}
.nameContainer p {
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 0;
}

.nameContainer span {
  color: rgb(111, 111, 111);
  font-weight: 600;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  background-color: white;
  overflow: visible;
  max-width: 1040px;
  width: var(--width);
  margin: 0 auto;
}
.navContainer ul {
  padding: 3px 0px 0 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.navContainer ul li {
  width: 75px;
  height: 50px;
  border-radius: 5px;
}
.navContainer ul li:hover {
  background-color: rgb(239, 239, 239);
}

.navContainer ul li a {
  font-family: Roboto;
  font-weight: 500;
  border-bottom: 3px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(98, 98, 98);
  height: 100%;
}
.MoreSVG {
  display: flex;
  align-items: center;
}
.MoreSVG > div {
  background-color: rgb(239, 239, 239);
  height: fit-content;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}
.MoreSVG svg {
  height: 23px;
}
.MoreSVG > div:hover {
  background-color: rgb(225, 225, 225);
}

.bottomContainerWrapper {
  background-color: rgba(240, 242, 245);
}
.bottomContainer {
  display: flex;
  max-width: 1040px;
  width: var(--width);
  margin: 0 auto;
  padding-bottom: 30px;
}

button.addFriendBtn {
  display: flex;
  align-items: center;
}

.btnSpinner {
  width: 22px;
  height: 22px;
  margin-right: 8px;
}

@media (max-width: 900px) {
  :root {
    --width: 700px;
  }

  .bottomContainer {
    flex-direction: column;
  }
  .bottomContainer__right {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 720px) {
  :root {
    --width: calc(100% - 15px);
  }
  .avatarContainer {
    flex-direction: column;
    align-items: center;
  }

  .avatarContainer__leftContainer {
    flex-direction: column;
    margin-bottom: 15px;
  }
}

.activeLink {
  border-bottom: 3px solid rgb(58, 68, 255) !important;
  color: rgb(58, 68, 255) !important;
}
.respondBtnContainer {
  position: relative;
}
.respondBtnContainer__div {
  position: absolute;
  z-index: 10000000;
  top: 100%;
  left: -118px;
  margin-top: 5px;
  padding: 12px;
  border-radius: 10px;
  width: 320px;
  box-shadow: 0px 0px 8px 1px rgb(183, 183, 183);
  background-color: rgb(255, 255, 255);
}
.respondBtnContainer__div button {
  background-color: transparent;
  width: 100%;
  border-radius: 5px;
  padding: 5px 0 5px 5px;
}
.respondBtnContainer__div button:hover {
  background-color: rgb(237, 237, 237);
}
@media (max-width: 500px) {
  .respondBtnContainer__div {
    width: 280px;
    left: 0;
  }
  .respondBtnContainer__div button {
    justify-content: flex-start !important;
  }
}

@media (max-width: 400px) {
  .avatarContainer__rightContainer {
    min-width: 260px;
    width: 80%;
  }
  .avatarContainer__rightContainer > div {
    flex-direction: column;
  }
  .respondBtnContainer {
    width: 100%;
    margin-bottom: 8px !important;
  }
  .avatarContainer__rightContainer > div button {
    width: 100%;
    margin: 0 !important;
    justify-content: center;
  }
  .avatarContainer__rightContainer > div > button:nth-of-type(1) {
    margin-bottom: 8px !important;
  }
  .respondBtnContainer__div {
    width: 100%;
  }
}
